{% extends 'base.html' %} {% block content %}

<!--Alerts-->
{% include 'partials/_alerts.html' %}
<section id="register" class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header bg-primary text-white">
            <h4><i class="fas fa-user-plus"></i>Request</h4>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Event</th>
                <th>Request form</th>
                <th>Description</th>
              </tr>
            </thead>
            {% for d in det %}
            <tbody>
              <tr>
                <td>{{d.event_name}}</td>
                <td>
                  <a
                    href="http://127.0.0.1:8000/media/{{d.myfile}}"
                    name="file"
                    value="{{d.myfile}}"
                    ><button type="button" class="btn btn-success active">
                      File
                    </button></a
                  >
                </td>
                <td>{{d.description}}</td>
                <td>
                  <a
                    href="http://127.0.0.1:8000/accounts/accept_request/{{d.id}}"
                    name="product_id"
                    value="{{item.id}}"
                    ><button type="button" class="btn btn-success active">
                      Accept
                    </button></a
                  >
                </td>
                <td>
                  <a
                    href="http://127.0.0.1:8000/accounts/reject_request/{{d.id}}"
                    name="product_id"
                    value="{{item.id}}"
                    ><button type="button" class="btn btn-danger active">
                      Reject
                    </button></a
                  >
                </td>
              </tr>
            </tbody>
            {% endfor %}
          </table>
          <div class="card-body"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
