{% extends 'base.html' %} {% block content %}

<section  class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4><i class="fas fa-sign-in-alt"></i> ABOUT</h4>
              <div class="card-body">
                  <h4>This portal is to track your official documents</h4>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}